// global class style
$font: 'Fira Mono', Helvetica，Arial, 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;

html {
  // 浏览器默认 font-size 是 16px
  // 将 root font-size 设置成 10px 是为了方便使用 rem 单位的计算
  font-size: 62.5%;
}

body {
  font-family: $font;
  font-weight: $normal;
  position: relative;
  box-sizing: border-box;
  @include font-size($normal);
  letter-spacing: .5px;
  -webkit-font-smoothing: antialiased;
}
h1 {
  @include font-size($huge + 1);
  @include breakPoint(desktop) {
    @include font-size($gigantic + 1);
  }
}

h2 {
  @include font-size($large + 1);
  @include breakPoint(desktop) {
    @include font-size($huge + 1);
  }
}
p {
  @include font-size($normal+2);
  @include breakPoint(desktop) {
    @include font-size($larger);
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  cursor: pointer;
  color: $black;
  text-decoration: none;
  font-weight: normal;
  &:active,
  &:hover {
    color: $red;
  }
}

:global {
  .hide {
    display: none;
  }
  .hidden {
    opacity: 0;
    visibility: hidden;
  }
}
