/* Colors */

$blue: #1F8DD6 !default;
$green: #50CD84 !default;
$yellow: #FFC65E !default;
$orange: #FF8859 !default;
$red: #FF5F5F !default;
$purple: #8B66CB !default;
$black: #333 !default;
$grey: #CCC !default;

$primary: $blue !default;
$secondary: $green !default;
$line: #DDD !default;
$light: #EEE !default;
$background: $light !default;

/* Sizes */

$small: 12 !default;
$normal: 16 !default;
$larger: 20 !default;
$large: 24 !default;

/* Fonts */

$sans: Arial, 'Helvetica Neue', Helvetica, sans-serif !default;
$code: 'Lucida Sans Typewriter', 'Lucida Console', monaco, 'Bitstream Vera Sans Mono', monospace !default;

/* Misc */

$ease: 0.2s !default;
$radius: 2px !default;
$shadow: rgba(0, 0, 0, 0.05) 0 1px 0 0 !default;
