@import "../../index.scss";

:local(.wrapper) {
  width: 100%;
  min-height: 400px;
  section {
    margin-bottom: 40px;
  }
}

:local(.section1) {
  position: relative;
  width: 100%;
  height: 700px;
  left: 0;
  top: 0;
  // background: linear-gradient(to bottom right, #DCEDC8, #F0F4C3);
  img {
    @include center();
    top: -10px;
    width: 50%;
    max-width: 700px;
    height: auto;
  }
}

:local(.indexTitle) {
  @include center();
  top: -10px;
  width: 100%;
  text-align: center;
  height: 40px;
  line-height: 40px;
  // color: $light;
  color: currentColor;
}

:local(.introBox) {
  position: relative;
  width: 100%;
  height: 420px;
  overflow: hidden;
}

:local(.introItem) {
  position: relative;
  float: left;
  width: 47%;
  margin-left: 2%;
  height: inherit;
  img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

:local(.intro) {
  @include center();
  width: 100%;
  height: inherit;
  text-align: center;
  color: $light;
  transition: all .6s ease;
  background: rgba(0, 0, 0, 0);
  h1 {
    transition: all .6s ease;
    transform: translate3d(0, -100%, 0);
    opacity: 0;
  }
  p {
    transition: all .6s ease;
    text-align: center;
    transform: translate3d(0, 2em, 0);
    opacity: 0;
    font-size: 1.6em;
  }
  &:hover {
    h1,
    p {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
    background: rgba(0, 0, 0, .6);
  }
}

:local(.content) {
  @include center();
  width: 60%;
  height: 60%;
  text-align: center;
  color: $light;
  // p {
  //   box-sizing: border-box;
  //   padding: 0 2rem;
  //   text-align: left;
  // }
  &:hover {
    border: none;
  }
}
