@import "../../index.scss";

:local(.person) {
  position: fixed;
  padding: 0;
  left: 0;
  top: 0;
  background-color: #fff;
  width: 100vw;
  min-height: 100vh;
  overflow-y: scroll;
  // @include animation to fade in/out
}

:local(.closeBtn) {
  width: 4rem;
  height: 4rem;
  background: #fff;
  color: #000;
  border: 2px solid #000;
  position: fixed;
  right: 6rem;
  top: 2rem;
  z-index: 23333;
  display: table;
  @include breakPoint(mobile) {
    right: 2%;
  };
  &:hover {
    background: #fff;
    border-color: $red;
  }
  a {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    @include font-size($large);
  }
}
