@import "../../index.scss";
:local(.header) {
  $headerHeight: 10rem;
  $mHeaderHeight: 6rem;
  box-sizing: border-box;
  width: 100%;
  height: $headerHeight;
  line-height: $headerHeight;
  @include breakPoint(mobile) {
    height: $mHeaderHeight;
    line-height: $mHeaderHeight;
  };
  overflow: hidden;
}
:local(.logo) {
  float: left;
  height: inherit;
  padding-left: 8rem;
  @include breakPoint(mobile) {
    padding-left: 1rem;
  }
  img {
    max-height: 100%;
  }
}

:local(.nav) {
  float: right;
  height: inherit;
  padding-right: 8rem;
  line-height: inherit;
  @include breakPoint(mobile) {
    display: none;
  };
  li {
    display: inline-block;
    margin-right: 3rem;
    width: auto;
    a {
      padding: 6px 0;
      &:hover,
      &:active,
      &.curTab {
        border-bottom: 2px solid $red;
        color: $black;
      }
    }
  }

}
