@import "../../index.scss";

$headerHeight: 10rem;
$mHeaderHeight: 6rem;
:local(.header) {
  box-sizing: border-box;
  width: 100%;
  height: $headerHeight;
  line-height: $headerHeight;
  @include breakPoint(mobile) {
    height: $mHeaderHeight;
    line-height: $mHeaderHeight;
  };
  overflow: hidden;
}
:local(.logo) {
  float: left;
  height: inherit;
  padding-left: 8rem;
  @include breakPoint(mobile) {
    padding-left: 1rem;
  }
  img {
    max-height: 100%;
  }
}

:local(.nav) {
  position: relative;
  float: right;
  height: inherit;
  padding-right: 8rem;
  line-height: inherit;
  span {
    display: none;
    @include breakPoint(mobile) {
      display: block;
      position: absolute;
      right: 1rem;
      top: 0;
      line-height: inherit;
    };
  }
  li {
    display: inline-block;
    padding-right: 3rem;
    width: auto;
    a {
      padding: 6px 0;
      &:hover,
      &:active,
      &.isCurTab {
        border-bottom: 2px solid $red;
        color: $black;
      }
    }
  }
}

:local(.mNav) {
  >ul {
    position: fixed;
    top: $mHeaderHeight;
    left: 0;
    z-index: 233333;
    width: 100vw;
    >li {
      width: 100%;
      a {
        color: #fff;
      }
      box-sizing: border-box;
      background: #000;
      padding: 0 0 0 2rem;
    }
  }
}
