// import global scss
@import "../../index.scss";

:local(.footer) {
  position: relative;
  width: 100%;
  height: 260px;
  overflow: hidden;
  padding: 20px 0;
  @include breakPoint(mobile) {
    height: auto;
  };
}

:local(.left) {
  float: left;
  width: 50%;
  height: inherit;
  border-right: 1px solid $grey;
  text-align: center;
  box-sizing: border-box;
  @include breakPoint(mobile) {
    float: none;
    width: 100%;
    height: 180px;
    border: none;
  };
  img {
    max-height: 80%;
  }
}

:local(.right) {
  float: right;
  position: relative;
  width: 50%;
  box-sizing: border-box;
  padding: 0 40px;
  height: inherit;;
  @include breakPoint(mobile) {
    margin-top: 40px;
    float: none;
    text-align: center;
    width: 100%;
    left: 0;
    height: 140px;
  };
  ul {
    box-sizing: inherit;
    height: 50%;
    border-bottom: 1px solid $grey;
    li {
      float: left;
      width: 25%;
      position: relative;
      height: calc(50% - 2px);
      // top: 50%;
      left: 0;
      // transform: translate3d(0, -50%, 0);
      box-sizing: inherit;
      padding-left: 20px;
      a {
        display: inline-block;
        width: 100%;
        height: 100%;

        font-weight: 700;
      }
    }
  }
  div {
    box-sizing: border-box;
    height: 50%;
    em {
      color: $red;
      @include font-size($larger);
    }
  }
}
